<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= title %></title>

  <link rel='stylesheet' href='/stylesheets/styles.css' />
  <link href='http://fonts.googleapis.com/css?family=Keania+One' rel='stylesheet' type='text/css'>

  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
  <script type="text/javascript" src="/socket.io/socket.io.js"></script>
  <script type="text/javascript" src="/javascripts/index.js"></script>
</head>
<body>
  <div id="Content">
    <h1 id="Track">Okayama Short</h1>

    <div id="LeftPane" class="Left">
      <div class="Session">
          <span data-telemetry="Lap">0</span> / <span data-telemetry="SessionNum">&infin;</span>
      </div>
      <div class="Session">
          Last Lap: <span data-telemetry="LapLastLapTime">1:24.109</span>
      </div>
      <div class="Session">
          Best Lap: <span data-telemetry="LapBestLapTime">1:23.873</span>
      </div>
    </div>

    <div id="RightPane" class="Right">
      <div id="Gear">
        <div id="GearValue" data-telemetry="Gear">0</div>
        <div id="GearStages" data-active="0">
          <div data-stage="1"></div>
          <div data-stage="2"></div>
          <div data-stage="3"></div>
          <div data-stage="4"></div>
          <div data-stage="5"></div>
        </div>
      </div>

      <div id="Engine">
        <div class="EngineStat">
          <p class="Name">RPM</p>
          <p class="Value" data-telemetry="RPM">0</p>
        </div>
        <div class="EngineStat">
          <p class="Name">MPH</p>
          <p class="Value" data-telemetry="Speed">0</p>
        </div>
      </div>
      <div id="Input">
        <div class="InputStat">
          <p class="Name" id="Throttle">Throttle</p>
          <p class="Value" data-telemetry="Throttle">0%</p>
        </div>
        <div class="InputStat">
          <p class="Name"id="Brake">Brake</p>
          <p class="Value" data-telemetry="Brake">0</p>
        </div>
        <div class="InputStat">
          <p class="Name" id="Clutch">Clutch</p>
          <p class="Value" data-telemetry="Clutch">0</p>
        </div>
      </div>
    </div>

    <div class="Clear"></div>
  </div>
</body>
</html>
