h1,
h2,
h3,
h4,
h5 {
  font-weight: 100;
  color: #121821;
}
#GearStages {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 48px;
}
#GearStages > div {
  -webkit-transition: opacity 0.2s ease-out;
  -moz-transition: opacity 0.2s ease-out;
  -o-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
  opacity: 0;
  float: left;
  width: 20%;
  height: 48px;
}
#GearStages > div[data-stage="1"] {
  background-color: #a6aebb;
}
#GearStages > div[data-stage="2"] {
  background-color: #acb3bf;
}
#GearStages > div[data-stage="3"] {
  background-color: #b2b9c4;
}
#GearStages > div[data-stage="4"] {
  background-color: #b7bec8;
}
#GearStages > div[data-stage="5"] {
  background-color: #dbdfe5;
}
#GearStages[data-active="1"] > div[data-stage="1"] {
  opacity: 1.0;
}
#GearStages[data-active="2"] > div[data-stage="1"] {
  opacity: 1.0;
}
#GearStages[data-active="2"] > div[data-stage="2"] {
  opacity: 1.0;
}
#GearStages[data-active="3"] > div[data-stage="1"] {
  opacity: 1.0;
}
#GearStages[data-active="3"] > div[data-stage="2"] {
  opacity: 1.0;
}
#GearStages[data-active="3"] > div[data-stage="3"] {
  opacity: 1.0;
}
#GearStages[data-active="4"] > div[data-stage="1"] {
  opacity: 1.0;
}
#GearStages[data-active="4"] > div[data-stage="2"] {
  opacity: 1.0;
}
#GearStages[data-active="4"] > div[data-stage="3"] {
  opacity: 1.0;
}
#GearStages[data-active="4"] > div[data-stage="4"] {
  opacity: 1.0;
}
#GearStages[data-active="5"] > div[data-stage="1"] {
  opacity: 1.0;
}
#GearStages[data-active="5"] > div[data-stage="2"] {
  opacity: 1.0;
}
#GearStages[data-active="5"] > div[data-stage="3"] {
  opacity: 1.0;
}
#GearStages[data-active="5"] > div[data-stage="4"] {
  opacity: 1.0;
}
#GearStages[data-active="5"] > div[data-stage="5"] {
  opacity: 1.0;
}
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body,
html {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.Left {
  float: left;
}
.Right {
  float: right;
}
.Clear {
  clear: both;
}
#Content #Track {
  margin: 0 5px;
  border-bottom: 1px #dbdfe5 solid;
}
#Content #LeftPane,
#Content #RightPane {
  width: 50%;
}
#Content #Gear {
  font-size: 32px;
  line-height: 48px;
  height: 48px;
  text-align: center;
  background-color: #9099a7;
  color: #eceef1;
  width: auto;
  position: relative;
}
#Content #Gear #GearValue {
  font-family: "Keania One", monotype, sans-serif;
  position: relative;
  z-index: 2;
}
#Content #Engine .EngineStat {
  width: 100%;
  overflow: hidden;
}
#Content #Engine .EngineStat > p {
  font-size: 32px;
  line-height: 38px;
  margin: 10px 0 0 0;
}
#Content #Engine .EngineStat > .Name {
  width: 100px;
  font-weight: 300;
  float: left;
}
#Content #Engine .EngineStat > .Value {
  font-weight: 100;
  letter-spacing: 0.05em;
  float: left;
  padding-left: 10px;
}
